<section class="table-section">
  <header>
    <h1>Tracks</h1>
    <h2>1788 found</h2>
  </header>
  <table class="tracks-table">
    <tr>
      <td>
        <button class="play-button">
          <div class="icon-background">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </td>
      <td><a href="album/index.html">Track</a></td>
      <td><a href="album/index.html">Album</a></td>
      <td><a href="artist/index.html">Artist</a></td>
      <td class="">9:59</td>
    </tr>
    <tr>
      <td>
        <button class="play-button">
          <div class="icon-background">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </td>
      <td><a href="album/index.html">Track</a></td>
      <td><a href="album/index.html">Album</a></td>
      <td><a href="artist/index.html">Artist</a></td>
      <td class="">9:59</td>
    </tr>
    <tr>
      <td>
        <button class="play-button">
          <div class="icon-background">
            <i class="fa fa-play"></i>
          </div>
        </button>
      </td>
      <td><a href="album/index.html">Track</a></td>
      <td><a href="album/index.html">Album</a></td>
      <td><a href="artist/index.html">Artist</a></td>
      <td class="">9:59</td>
    </tr>
    </tbody></table>
</section>
