<section *ngIf="tracks" class="table-section">
  <header>
    <h1>{{label}}</h1>
    <h2 *ngIf="showFoundCount">{{tracks.total}} found</h2>
  </header>
  <table class="tracks-table">
    <tbody>
    <tr *ngFor="let track of tracks.items">
      <td>
        <app-player #ref (play)="play(ref, $event)" (stop)="stop(ref, $event)" [source]="track.preview_url"></app-player>
      </td>
      <td><a>{{track.name}}</a></td>
      <td *ngIf="track.album"><a [routerLink]="['/album', track.album.id]">{{track.album.name}}</a></td>
      <td>
        <a
          *ngFor="let artist of track.artists, last as last"
          [routerLink]="['/artist', artist.id]">
          <span>{{artist.name + (!last ? ', ' : '')}}</span>
        </a>
      </td>
      <td class="">{{track.duration_ms | date: 'mm:ss'}}</td>
    </tr>

    </tbody></table>
</section>
